@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300;400&display=swap');

:root {
  --background: rgb(57, 62, 70);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(34, 40, 49);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(238, 238, 238);
}

.main-content {
  height: 150vh;
  display: grid;
  place-items: initial;
  /* background-image: url(//unsplash.it/1200/1200);
  background-size: cover; */
}

/* logo styles & nav styles */

.sign {
  color: rgb(255, 78, 78);
  font-weight: 400;
}

@-webkit-keyframes myfirst
{
    from {text-shadow: rgb(255, 78, 78);}
    to {text-shadow : none;}
}

@-moz-keyframes myfirst
{
    from {text-shadow: rgb(255, 78, 78);}
    to {text-shadow : none;}
}
@keyframes myfirst
{
    from {text-shadow: rgb(255, 78, 78);}
    to {text-shadow : none;}
}

.blink {
  color: rgb(255, 78, 78);
  font-weight: 300;
  font-size: 1.9rem;
  text-shadow: rgb(255, 78, 78);
  -webkit-animation: myfirst 1s 98765432;
  -moz-animation: myfirst 1s 98765432;
  animation: myfirst 1s 98765432;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  display: inline-block;
  position: relative;
  bottom: 3px;
}

#logo {
  margin: 10px;
  font-size: 1.5rem;
  color: rgb(255, 211, 105);
  text-shadow: 0 0 5px rgb(255, 78, 78);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(238, 238, 238);
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  padding-top: 10px;
  background: var(--background);
  width: 40%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 1.5em;
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  color: rgb(238, 238, 238);
  text-shadow: 0 0 5px rgb(44, 44, 44);
  font-size: 1rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgb(255, 211, 105);
  text-shadow: 0 0 5px rgb(255, 78, 78);
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  #logo {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
  }

  .logo {
    position: relative;
    top: -1px;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }

}

/* main styles */

main {
  padding-top: 55.5px;
}